.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  padding: 0 5vw;
  background-color: var(--header-footer-bg);
  font-size: 30px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px 7px, rgba(255, 255, 255, 0.08) 0px 1px 0px;
}

.footer__logo,
.footer__text {
  width: min-content;
  letter-spacing: 3px;
  text-shadow: 2px 7px 3px rgb(0 0 0 / 20%),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

@media (max-width: 450px) {
  .footer {
    font-size: 20px;
  }
}
