/* Light */
html[data-theme="light"] {
  --app-bg: #eae7dc;
  --header-footer-bg: #d8c3a5;
  --app-fonts: #5c340c;
  --btn-wrong: #000;
}
/* Blue */
html[data-theme="blue"] {
  --app-bg: #4e7994;
  --header-footer-bg: #457b9d;
  --app-fonts: #f1faee;
  --btn-wrong: #000;
}

/* Dark */
html[data-theme="dark"] {
  --app-bg: #2c3531;
  --header-footer-bg: #116466;
  --app-fonts: #d1e8e2;
  --btn-wrong: #000;
}
