/* Light */
html[data-theme="light"] {
  --app-bg: #EAE7DC;
  --header-footer-bg: #D8C3A5;
  --app-fonts: #5c340c;
}
/* Blue */
html[data-theme="blue"] {
  --app-bg: #4e7994;
  --header-footer-bg: #457b9d;
  --app-fonts: #f1faee;
}

/* Dark */
html[data-theme="dark"] {
  --app-bg: #2C3531;
  --header-footer-bg: #116466;
  --app-fonts: #D1E8E2;
}
